<h2>Service exercice</h2>


<div>
    <button (click)="handleClickSetUser()">Set User</button>
    <button (click)="handleClickGetUser()">Get User</button>
    <button (click)="handleClickRemoveUser()">Remove User</button>
</div>

<div>
    <button (click)="handleClickSetAnimal()">Set Animal</button>
    <button (click)="handleClickGetAnimal()">Get Animal</button>
    <button (click)="handleClickRemoveAnimal()">Remove Animal</button>
</div>

<div>
    <button (click)="handleClickClear()">Clear Localstorage</button>
</div>
