
<nav>
    <a [routerLink]="['/first-test']">0-Hello</a> |
    <a [routerLink]="['/expression']">1-Expression</a> |
    <a [routerLink]="['/expression-exercice']">1-Expression-Exercice</a> |
    <a [routerLink]="['/directive-angular']">2-Directive</a> |
    <a [routerLink]="['/directive-angular-exercice']">2-Directive exercice</a> |
    <a [routerLink]="['/event']">3-Event</a> |
    <a [routerLink]="['/event-exercice']">3-Event exercice</a> |
    <a [routerLink]="['/typage']">4-Typage</a> |
    <a [routerLink]="['/typage-exercice']">4-Typage exercice</a> |
    <a [routerLink]="['/web-component']">5-Web-component</a> |
    <a [routerLink]="['/web-component-exercice']">5-Web-component-exercice</a> |
    <a [routerLink]="['/pipe']">6-Pipe</a> |
    <a [routerLink]="['/pipe-exercice']">6-Pipe-Exercice</a> |
    <a [routerLink]="['/service']">7-Service</a> |
    <a [routerLink]="['/service-exercice']">7-Service-Exercice</a> |
    <a [routerLink]="['/forms']">8-Forms</a> |
    <a [routerLink]="['/test-observable']">9-Test Observable</a> |
    <a [routerLink]="['/test-observable-exercice']">9-Test Observable-exercice</a> |
    <a [routerLink]="['/test-webservice']">10-Test Webservice</a> |
    <a [routerLink]="['/routing-param/1']">11-Routing Param</a> |
    <a [routerLink]="['/es6']">ES6</a> |
    <a [routerLink]="['/typescript']">TypeScript</a> |
    <a [routerLink]="['/scss']">Scss</a> |
</nav>

<!-- Pour afficher le component appelé par le routing de l'application -->
<router-outlet></router-outlet>


<div class="app-title">E2E Text</div>